# Titulo1
###### Titulo6

![alt text](https://github.com/adam-p/markdown-here/raw/master/src/common/images/icon48.png "Logo Title Text 1")

In [3]:
print("Hola Mundo")

Hola Mundo

In [12]:
# No tipado
#Variables Primitivas
entero = 4
decimales = 1.1
nombre = "Rodman"
segundo_nombre = "Xavier" #segundoNombre X -> Mal
apellido = 'I単iguez'
casado = False 
estudiante = True
hijos = None
print(type(entero)) # int
print(type(decimales)) # flot
print(type(nombre)) # str
print(type(segundo_nombre)) # str
print(type(apellido)) # str
print(type(casado)) # bool
print(type(estudiante)) # bool
print(type(hijos)) # NoneType

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'NoneType'>

In [7]:
cadena_de_texto = """
Jupyter (formerly IPython Notebook) is an open-source project that lets you easily combine Markdown
text and executable Python source code on one canvas called a notebook. Visual Studio Code supports 
working with Jupyter Notebooks natively, as well as through Python code files. This topic covers the
native support available for Jupyter Notebooks and demonstrates how to:

Create, open, and save Jupyter Notebooks
Work with Jupyter code cells
View, inspect, and filter variables using the Variable explorer and Data viewer
Connect to a remote Jupyter server
Debug a Jupyter notebook

"""
print(cadena_de_texto)

Jupyter (formerly IPython Notebook) is an open-source project that lets you easily combine Markdown
text and executable Python source code on one canvas called a notebook. Visual Studio Code supports
working with Jupyter Notebooks natively, as well as through Python code files. This topic covers the
native support available for Jupyter Notebooks and demonstrates how to:

Create, open, and save Jupyter Notebooks
Work with Jupyter code cells
View, inspect, and filter variables using the Variable explorer and Data viewer
Connect to a remote Jupyter server
Debug a Jupyter notebook

In [13]:
print(entero)
entero = decimales
entero = hijos
entero = casado 
entero = nombre
print(entero)

4
Rodman

In [13]:
# Condiciones
# Truty - Falsy
tuplas = (1,2,3)
listas = [4,5,6]
diccionario = {"nombre":"Rodman"}

if('Rodman'):
    #...
    #...
    print('Truty')
else:
    #...
    #...
    printnt('Falsy')

if(''):#
    print('Truty')
else:
    print('Falsy')
    

if(1): #Truty
    print('Truty')
else:
    print('Falsy')
    
if(0): #Falsy
    print('Truty')
else:
    print('Falsy')
    
if(-1): #Truty
    print('Truty')
else:
    print('Falsy')


if(-1.1): #Truty
    print('Truty')
else:
    print('Falsy')
    
if(1.2): #Truty
    print('Truty')
else:
    print('Falsy')

    
if(()): #Falsy
    print('Truty')
else:
    print('Falsy')
    
if((1,2,3)): #Truty
    print('Truty')
else:
    print('Falsy')
    

if([]): #Falsy
    print('Truty')
else:
    print('Falsy')
    
if([1,2,3]): #Truty
    print('Truty')
else:
    print('Falsy')
    
    
if({}): #Falsy
    print('Truty')
else:
    print('Falsy')
    
if({nombre: "Rodman"}): #Truty
    print('Truty')
else:
    print('Falsy')

Truty
Falsy
Truty
Falsy
Truty
Truty
Truty
Falsy
Truty
Falsy
Truty
Falsy
Truty

In [17]:
arreglo = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [31]:
arreglo[0:3] #[0,3[
arreglo[5:] #hasta el final
arreglo[:7] #hasta el inicio
arreglo[-10] #indice negativo empieza del FINAL
arreglo[3:-2]
arreglo[-8:8]
arreglo[-4:-1]
arreglo[-7:]
arreglo[:-3]
arreglo[:]

arregloTupla = (1,2,3,4,5,6,7,8,9,10)
arregloTupla [5:9]

(6, 7, 8, 9)

In [37]:
diccionario = {
    "nombre":"Rodman",
    "apellido":"Iniguez",
    "sueldo":1.2
}

diccionario["nombre"]

'Rodman'

In [40]:
10 in arreglo

True

In [39]:
print(type( 12 in arreglo))

<class 'bool'>

In [41]:
len (arreglo)
len (arregloTupla)
len (diccionario)

3

In [42]:
"nombre" in diccionario #en diccionarios se debe trabajar con las llaves

True

In [44]:
#arregloTupla[0] = 2 no hay como modificar las tuplas
arreglo[0] = 2  #si hay como modificar las listas

In [45]:
# arreglo.pop
# arreglo.append
# arreglo.insert
# etc

In [46]:
for numeroLista in arreglo:
    print(numeroLista)

2
2
3
4
5
6
7
8
9
10

In [47]:
for numeroLista in arregloTupla:
    print(numeroLista)

1
2
3
4
5
6
7
8
9
10

In [51]:
for key in diccionario:
    print(key)

nombre
apellido
sueldo

In [54]:
contador = 0
while contador < 10:
    print(contador)
    contador+= 1

0
1
2
3
4
5
6
7
8
9

In [55]:
rodman = {
    True: "Rodman",
    False: "I単iguez",
    1: 12.2,
    1.1: 89,
    'edad': 21,
    "mascotas": [{"nombre":"cachetes"}],
    None: None
}

In [57]:
rodman['edad'] = 27
rodman['apellido'] = 'Sarango'
rodman['mascotas'][0]['nombre'] = 'Panda'

In [58]:
rodman

{True: 12.2,
 False: 'I単iguez',
 1.1: 89,
 'edad': 27,
 'mascotas': [{'nombre': 'Panda'}],
 None: None,
 'apellido': 'Sarango'}

In [63]:
print(type(rodman.keys()))

<class 'dict_keys'>

In [64]:
print(type(rodman.values()))

<class 'dict_values'>

In [66]:
for llave in rodman.keys():
    print(llave)

True
False
1.1
edad
mascotas
None
apellido

In [67]:
for valor in rodman.values():
    print(valor)

12.2
I単iguez
89
27
[{'nombre': 'Panda'}]
None
Sarango

In [68]:
1 == 1 or 2 == 2
1 != 1 and 2 != 2

False